{
  "tagFormat": "${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/exec", {
      "prepareCmd" : "bumpversion --current-version $(python -c 'from outerspace import __version__; print(__version__)') --new-version ${nextRelease.version} _pseudoarg_ outerspace/version.py"
    }]
  ]
}